* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  text-align: center;
  color: black;
  background-color: #eff0f2;
  width: 100%;
  padding: 64px 0 134px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.container--flex--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Fredoka One", sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin: 0 auto 130px 30px;
  padding: 7px 6px 7px 6px;
  border: 5px solid;
  border-right: 6.5px solid;
  border-left: 6.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__aqua-letter {
  font-size: 21px;
  font-weight: 600;
  color: #6eeee4;
  text-shadow: 1px 0 1px #adadad, 0 1px 1px #adadad, -1px 0 1px #adadad, 0 -1px 1px #adadad;
  margin-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
}

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__first-line {
  font-family: "Montserrat", sans-serif;
  color: #524f4f;
  text-shadow: 4px 8px 10px #a5a5a5;
  font-weight: 700;
  font-size: 46px;
  margin: 65px 0px 4px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__first-text {
  margin-right: 5px;
  letter-spacing: 1.2px;
}

.header__first-aqua {
  background-color: #b2f2ee;
  letter-spacing: 1.2px;
  padding: 5px 10px;
}

.header__second-line {
  font-family: "Montserrat", sans-serif;
  color: #524f4f;
  text-shadow: 4px 8px 10px #a5a5a5;
  font-weight: 700;
  font-size: 46px;
  margin-right: 10px;
  margin-bottom: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__second-text {
  margin-left: 5px;
  letter-spacing: 1.2px;
}

.header__second-aqua {
  background-color: #b2f2ee;
  letter-spacing: 1.3px;
  padding: 4px 12px 3px 13px;
}

.header__footer {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 80px 1fr 280px 1fr 80px 120px;
  grid-template-rows: 84px 92px;
}

.header__btn {
  font-family: "Lato-Regular", sans-serif;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-decoration: none;
  border: #4a4949 2px solid;
  border-radius: 2px;
  color: #5e5f5f;
  margin: auto;
  padding: 15px 43px 14px 47px;
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__btn:hover {
  background-color: rgba(110, 238, 228, 0.3);
  -webkit-box-shadow: 0 0 10px #515151;
          box-shadow: 0 0 10px #515151;
}

.header__btn-cont {
  margin-right: 1.5px;
}

.header__img {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.about {
  padding: 124px 0 165px 0;
  background-color: #f8fafa;
}

@media (max-width: 750px) {
  .about {
    padding: 50px 0;
  }
}
.header-section {
  text-align: center;
}

.about__header {
  margin-left: 20px;
  margin-bottom: 144px;
}

.about__title {
  font-size: 38.5px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 9px;
  font-family: "Montserrat", sans-serif;
}

.about__subtitle {
  font-size: 19px;
  font-weight: 400;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.12px;
  margin-right: 20px;
}

.about__body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 110px 393px 152px 485px 70px 1fr;
}

.about__img {
  -webkit-box-shadow: 0 0 20px #d3d2cf;
          box-shadow: 0 0 20px #d3d2cf;
  width: 393px;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media (max-width: 750px) {
  .about__img {
    margin-bottom: 20px;
  }
}
.about__content {
  text-align: left;
  width: 100%;
  grid-column-start: 5;
  grid-column-end: 6;
}

.about__big-title {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 20.5px;
  letter-spacing: 0.7px;
  padding: 4px 2px 2px 2px;
  margin-bottom: 19px;
}

.about__content-text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-left: 3px;
  line-height: 2;
  letter-spacing: 1.75px;
  margin-bottom: 27.5px;
}

.about__small-title {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 17.2px;
  letter-spacing: 0.7px;
  padding: 8px 2px 2px 2px;
  margin-bottom: 16px;
}

.works {
  background-color: #ffffff;
  padding: 125.25px 0 95px;
}

@media (max-width: 750px) {
  .works {
    padding: 50px 0;
  }
}
.works__header {
  margin-left: 42px;
  margin-bottom: 90px;
}

.works__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  margin-bottom: 9px;
  font-family: "Montserrat", sans-serif;
}

.works__subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.12px;
  margin-right: 40px;
}

.works__content {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 15px;
  width: 100%;
  margin: 0 auto 0 auto;
}

@media (max-width: 750px) {
  .works__content {
    grid-template-columns: 1fr;
  }
}
.works__img {
  width: 100%;
}

.works__popup {
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}

.works__img--popup {
  margin: 40px auto 0 auto;
  width: 40%;
  min-width: 500px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}

.team {
  text-align: center;
  color: black;
  background-color: #f9fbfb;
  padding: 95px 0 0;
}

.team__header {
  margin-bottom: 92px;
}

.team__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  margin-bottom: 8px;
  margin-left: 3px;
  font-family: "Montserrat", sans-serif;
}

.team__subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.09px;
  margin-right: 2px;
}

.team__content {
  padding: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 13px 16px;
  width: 100%;
  margin: 0 auto 0 auto;
}

@media (max-width: 750px) {
  .team__content {
    grid-template-columns: 1fr;
  }
}
.team__item {
  height: 438.75px;
  z-index: 1;
}

.team__img {
  width: 100%;
  position: relative;
}

.team__info {
  text-align: left;
  -webkit-box-shadow: 0 5px 10px #bcb1b1;
          box-shadow: 0 5px 10px #bcb1b1;
  width: 335px;
  height: 241px;
  top: -255px;
  margin: 0 auto 0 auto;
  padding: 40px 37px;
  position: relative;
  background-color: #6eeee4;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.team__info:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  top: -39px;
  border: 20px solid;
  border-left: 12px solid;
  border-right: 12px solid;
  border-color: transparent transparent #6eeee4 transparent;
}

.team__item:hover .team__info {
  visibility: visible;
  opacity: 1;
}

.team__info-title {
  font-family: "Merriweather";
  font-weight: 700;
  color: #424648;
  font-size: 21px;
  letter-spacing: 0.2px;
  padding: 0 1px;
  margin-bottom: 16px;
}

.team__slash {
  font-family: "Merriweather";
  color: #767676;
  font-size: 15px;
  font-weight: 300;
}

.team__post {
  font-style: italic;
  font-family: "Merriweather";
  color: #767676;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  left: -2px;
}

.team__text {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  margin-bottom: 31px;
}

.team__link {
  color: #515151;
  font-size: 12px;
  text-decoration: none;
  margin-left: 2px;
  letter-spacing: 4.5px;
}

.team__icon {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.team__icon:hover {
  color: white;
  text-shadow: 0 0 10px #515151;
}

.team__link--twitter {
  margin-left: 4.5px;
  letter-spacing: 4px;
}

.team__link--dribble {
  margin-left: 2px;
  letter-spacing: 3.5px;
}

.contact {
  padding: 348px 0 150px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 251, 251, 0.67)), to(rgba(249, 251, 251, 0.67))), url(img/christmas_snow.png);
  background-image: linear-gradient(to top, rgba(249, 251, 251, 0.67), rgba(249, 251, 251, 0.67)), url(img/christmas_snow.png);
  background-size: 100% auto;
  position: relative;
  top: -68px;
}

.container--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 614px 26px 500px 1fr;
  grid-template-rows: 460px;
}

.contact__form {
  margin-right: 29.4px;
  padding: 45px 35px 40px 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__input {
  font-size: 16px;
  width: 100%;
  padding: 0 0 14px 3px;
  margin-bottom: 26px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(196, 199, 202, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.contact__input::-webkit-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::-moz-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input:-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__email {
  padding-bottom: 12px;
}

.contact__message {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 1px 0 0 3px;
  margin-bottom: 38px;
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(196, 199, 202, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.contact__message::-webkit-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::-moz-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message:-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__btn {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.8px;
  padding: 13px 22px 11px 25px;
  width: 243px;
  background-color: #6eeee4;
  color: #2b5f5a;
  opacity: 1;
  border: 3px solid #6eeee4;
  border-radius: 1px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.contact__btn:hover {
  background-color: rgba(110, 238, 228, 0.3);
  color: white;
  padding: 13px 22px 11px 25px;
  border: 3px solid #6eeee4;
}

.contact__content {
  padding: 21px 21px 18px 21px;
  width: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  color: #bec7cc;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__info {
  padding: 14px 10px 15px 9px;
  font-size: 14.6px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.contact__item {
  letter-spacing: 0.2px;
  margin-bottom: 9px;
  color: rgba(196, 199, 202, 0.7);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contact__item:hover {
  color: #6eeee4;
}

.contact__item--adress1 {
  letter-spacing: 0.1px;
}

.contact__item--adress2 {
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}

.contact__item--fax {
  margin-bottom: 33px;
}

.contact__link {
  text-decoration: none;
  color: rgba(196, 199, 202, 0.7);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contact__link:hover {
  color: #ffffff;
}

.contact__map {
  width: 100%;
}

.footer {
  text-align: center;
  background-color: #262b2e;
  color: #d4d5d5;
  position: relative;
  margin-top: -95px;
  padding: 92px 0 135px 0;
}

.container--column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  margin-right: 4px;
  letter-spacing: 0.1px;
}

.footer__contact {
  margin-top: 15px;
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 45px;
  height: 40px;
  margin: 0 4px 15px 4px;
  padding: 11px 12.5px 9px 12.5px;
  background-color: #424648;
  color: #bbb8b9;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.footer__item:hover {
  margin: 8px 4px 7px 4px;
  border-radius: 5px;
  color: #070e0d;
}

.footer__item--aqua {
  font-size: 22px;
  height: 40px;
  padding: 10px 14.5px 8px 14px;
  background-color: #6eeee4;
  color: #070e0d;
}

.footer__item--aqua:hover {
  color: white;
  background-color: #E60023;
}

.footer__twitter {
  width: 45.5px;
}

.footer__twitter:hover {
  color: white;
  background-color: #00acee;
}

.footer__facebook:hover {
  color: white;
  background-color: #4267B2;
}

.footer__dribble:hover {
  color: #902d86;
  background-color: #ea4c89;
}