* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  color: black;
  background-color: #eff0f2;
  width: 100%;
  padding: 64px 0 134px 0;
}
@media (max-width: 850px) {
  .header {
    padding-bottom: 142.5;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

.header__logo {
  font-family: "Fredoka One", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  width: 113.34px;
  margin: 0 auto 201.5px 0;
  padding: 7px 6px 7px 6px;
  border: 5px solid black;
  border-right: 6.5px solid black;
  border-left: 6.5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 1160px) {
  .header__logo {
    margin: 0 auto 201.5px 90px;
  }
}
@media (max-width: 850px) {
  .header__logo {
    margin: 0 auto 142.5px 90px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    font-size: 14px;
    width: 90px;
    margin: 0 auto 142.5px 30px;
    border: 3px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
  }
}

.header__logo:hover {
  border-radius: 3px;
  border-color: #366c68;
  -webkit-box-shadow: 0 0 10px #515151;
          box-shadow: 0 0 10px #515151;
}

.header__aqua-letter {
  font-size: 21px;
  font-weight: 600;
  color: #6eeee4;
  text-shadow: 1px 0 1px #adadad, 0 1px 1px #adadad, -1px 0 1px #adadad, 0 -1px 1px #adadad;
  margin-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
}
@media (max-width: 500px) {
  .header__aqua-letter {
    font-size: 17px;
  }
}

.header__line {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #524f4f;
  text-shadow: 4px 8px 10px #a5a5a5;
  font-weight: 700;
  font-size: 46px;
  padding: 0 20px;
}
@media (max-width: 1100px) {
  .header__line {
    font-size: 38px;
  }
}
@media (max-width: 860px) {
  .header__line {
    font-size: 30px;
  }
}

.header__line--first {
  margin-bottom: 12.5px;
}

.header__first-text {
  position: relative;
  margin-right: -10px;
  letter-spacing: 1.2px;
}

.header__first-aqua {
  background-color: #b2f2ee;
  letter-spacing: 1.2px;
  padding: 0 10px;
}

.header__line--second {
  margin-bottom: 142.5px;
}

.header__second-text {
  position: relative;
  margin-left: -10px;
  letter-spacing: 1.2px;
}

.header__second-aqua {
  background-color: #b2f2ee;
  letter-spacing: 1.3px;
  padding: 0 12px 0 13px;
}

.header__btn {
  font-family: "Lato-Regular", sans-serif;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-decoration: none;
  width: 231.06px;
  height: 52px;
  border: 2px solid #4a4949;
  border-radius: 2px;
  color: #5e5f5f;
  margin: 0 auto 62px;
  padding: 5px 3px 4px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 850px) {
  .header__btn {
    margin-bottom: 0;
  }
}

.header__btn:hover {
  background-color: rgba(110, 238, 228, 0.3);
  -webkit-box-shadow: 0 0 10px #515151;
          box-shadow: 0 0 10px #515151;
}

.header__btn-cont {
  margin-right: 1.5px;
}

.header__img {
  width: 80px;
  height: 92px;
  margin: -92px 90px 0 auto;
  position: relative;
  display: block;
}
@media (max-width: 1160px) {
  .header__img {
    margin: -92px 90px 0 auto;
  }
}
@media (max-width: 850px) {
  .header__img {
    display: none;
  }
}

.about {
  padding: 124px 0 165px;
  background-color: #f8fafa;
}
@media (max-width: 850px) {
  .about {
    padding: 100px 0 100px;
  }
}

.header-section {
  text-align: center;
}

.about__header {
  margin-bottom: 144px;
}
@media (max-width: 850px) {
  .about__header {
    margin-bottom: 70px;
  }
}

.about__title {
  font-size: 38.5px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 9px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1100px) {
  .about__title {
    font-size: 33px;
  }
}
@media (max-width: 850px) {
  .about__title {
    font-size: 28px;
  }
}

.about__subtitle {
  font-size: 19px;
  font-weight: 400;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.12px;
}
@media (max-width: 1100px) {
  .about__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 850px) {
  .about__subtitle {
    font-size: 17px;
  }
}

.about__body {
  width: 100%;
  padding: 0 30px 0 80px;
  display: grid;
  grid-template-columns: 393px 1fr 485px;
}
@media (max-width: 1050px) {
  .about__body {
    grid-template-columns: 2.6fr 0.5fr 3fr;
    padding: 0 40px;
  }
}
@media (max-width: 850px) {
  .about__body {
    display: block;
  }
}

.about__img {
  -webkit-box-shadow: 0 0 20px #d3d2cf;
          box-shadow: 0 0 20px #d3d2cf;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (max-width: 850px) {
  .about__img {
    width: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .about__img {
    width: 100%;
  }
}

.about__content {
  text-align: left;
  width: 100%;
  padding: 4px 0 0 2px;
  grid-column-start: 3;
  grid-column-end: 4;
}
@media (max-width: 850px) {
  .about__content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.about__big-title {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 20.5px;
  letter-spacing: 0.7px;
  margin-bottom: 21px;
}

.about__content-text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-left: 1px;
  line-height: 2;
  letter-spacing: 1.75px;
  margin-bottom: 27.5px;
}

.about--margin-bottom {
  margin-bottom: 35.5px;
}

.about__small-title {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 17.2px;
  letter-spacing: 0.7px;
  margin-bottom: 18px;
}

.works {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 125.25px 20px 125px;
}
@media (max-width: 850px) {
  .works {
    padding: 100px 40px 100px;
  }
}

.works__header {
  margin-bottom: 120px;
}
@media (max-width: 850px) {
  .works__header {
    margin-bottom: 70px;
  }
}

.works__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  margin-bottom: 9px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1100px) {
  .works__title {
    font-size: 33px;
  }
}
@media (max-width: 850px) {
  .works__title {
    font-size: 28px;
  }
}

.works__subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.12px;
}
@media (max-width: 850px) {
  .works__subtitle {
    font-size: 17px;
  }
}

.works__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  width: 100%;
  margin: 0 auto 0 auto;
}
@media (max-width: 850px) {
  .works__content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.works__img {
  width: 100%;
}

.works__overlay {
  display: none;
}

.works__popup {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
}

.team {
  text-align: center;
  color: black;
  background-color: #f9fbfb;
  padding: 95px 20px 30px;
}
@media (max-width: 850px) {
  .team {
    padding: 100px 40px 30px;
  }
}
@media (max-width: 450px) {
  .team {
    padding: 100px 20px 30px;
  }
}

.team__header {
  margin-bottom: 122px;
}
@media (max-width: 1100px) {
  .team__header {
    margin-bottom: 100px;
  }
}
@media (max-width: 850px) {
  .team__header {
    margin-bottom: 70px;
  }
}

.team__title {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1100px) {
  .team__title {
    font-size: 33px;
  }
}
@media (max-width: 850px) {
  .team__title {
    font-size: 28px;
  }
}

.team__subtitle {
  font-size: 18px;
  font-weight: 300;
  font-family: "Merriweather", sans-serif;
  color: #5e5f5f;
  letter-spacing: 0.09px;
}
@media (max-width: 850px) {
  .team__subtitle {
    font-size: 17px;
  }
}

.team__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 13px 16px;
  width: 100%;
  margin: 0 auto 0 auto;
}
@media (max-width: 850px) {
  .team__content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.team__item {
  z-index: 1;
}

.team__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  .team__img {
    width: 280px;
    height: 332.6px;
  }
}

.team__info {
  text-align: left;
  -webkit-box-shadow: 0 5px 10px #bcb1b1;
          box-shadow: 0 5px 10px #bcb1b1;
  width: 335px;
  height: 241px;
  margin: -255px auto 0 auto;
  padding: 40px 37px;
  position: relative;
  background-color: #6eeee4;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
@media (max-width: 850px) {
  .team__info {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .team__info {
    width: 240px;
    margin: -220px auto 0 auto;
    padding: 20px 20px;
    height: 200px;
  }
}

.team__info:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  margin-top: -80px;
  border: 20px solid;
  border-left: 12px solid;
  border-right: 12px solid;
  border-color: transparent transparent #6eeee4 transparent;
}
@media (max-width: 450px) {
  .team__info:before {
    margin-top: -60px;
  }
}

.team__item:hover .team__info {
  visibility: visible;
  opacity: 1;
}

.team__info-title {
  font-family: "Merriweather";
  font-weight: 700;
  color: #424648;
  font-size: 21px;
  letter-spacing: 0.2px;
  padding: 0 1px;
  margin-bottom: 16px;
}
@media (max-width: 450px) {
  .team__info-title {
    font-size: 17px;
  }
}

.team__slash {
  font-family: "Merriweather";
  color: #767676;
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 450px) {
  .team__slash {
    font-size: 13px;
  }
}

.team__post {
  font-style: italic;
  font-family: "Merriweather";
  color: #767676;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  left: -2px;
}
@media (max-width: 450px) {
  .team__post {
    font-size: 13px;
  }
}

.team__text {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  margin-bottom: 31px;
}
@media (max-width: 450px) {
  .team__text {
    font-size: 15px;
  }
}

.team__link {
  color: #515151;
  font-size: 12px;
  text-decoration: none;
  margin-left: 2px;
  letter-spacing: 4.5px;
}

.team__icon {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.team__icon:hover {
  color: white;
  text-shadow: 0 0 10px #515151;
}

.team__link--twitter {
  margin-left: 4.5px;
  letter-spacing: 4px;
}

.team__link--dribble {
  margin-left: 2px;
  letter-spacing: 3.5px;
}

.contact {
  padding: 348px 20px 150px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 251, 251, 0.67)), to(rgba(249, 251, 251, 0.67))), url(img/christmas_snow.png);
  background-image: linear-gradient(to top, rgba(249, 251, 251, 0.67), rgba(249, 251, 251, 0.67)), url(img/christmas_snow.png);
  background-size: 100% auto;
  position: relative;
  top: -68px;
}
@media (max-width: 1180px) {
  .contact {
    padding: 218px 40px 150px;
  }
}
@media (max-width: 850px) {
  .contact {
    padding: 168px 40px 100px;
  }
}

.container--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 614px 26px 500px;
  grid-template-rows: 460px;
}
@media (max-width: 1180px) {
  .container--grid {
    display: block;
  }
}

.contact__form {
  margin-right: 29.4px;
  padding: 45px 35px 40px 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1180px) {
  .contact__form {
    max-width: 650px;
    margin: 0 auto 40px;
  }
}

.contact__input {
  font-size: 15px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 0 0 10px 3px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(196, 199, 202, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.contact__input::-webkit-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::-moz-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input:-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__input::placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__email {
  padding-bottom: 12px;
}

.contact__message {
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 106px;
  padding: 1px 0 0 3px;
  margin-bottom: 38px;
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(196, 199, 202, 0.5);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.contact__message::-webkit-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::-moz-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message:-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::-ms-input-placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__message::placeholder {
  color: rgba(196, 199, 202, 0.7);
}

.contact__btn {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.8px;
  padding: 5px 2px 3px 5px;
  width: 243px;
  height: 52px;
  background-color: #6eeee4;
  color: #2b5f5a;
  opacity: 1;
  border: 3px solid #6eeee4;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}
@media (max-width: 850px) {
  .contact__btn {
    font-size: 15px;
    max-width: 243px;
    width: 100%;
  }
}

.contact__btn:hover {
  background-color: rgba(110, 238, 228, 0.3);
  color: white;
}

.contact__content {
  padding: 21px 21px 18px 21px;
  width: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  color: #bec7cc;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1180px) {
  .contact__content {
    max-width: 650px;
    margin: 0 auto 40px;
  }
}

.contact__info {
  padding: 14px 10px 15px 9px;
  font-size: 14.6px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.contact__item {
  letter-spacing: 0.2px;
  margin-bottom: 9px;
  color: rgba(196, 199, 202, 0.7);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contact__item--adress1 {
  letter-spacing: 0.1px;
  font-weight: normal;
}

.contact__item--adress2 {
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}

.contact__item--fax {
  margin-bottom: 33px;
}

.contact__link {
  text-decoration: none;
  color: rgba(196, 199, 202, 0.7);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contact__link:hover {
  color: #ffffff;
}

.contact__map {
  width: 455px;
  height: 255px;
}
@media (max-width: 577px) {
  .contact__map {
    max-width: 455px;
    width: 100%;
  }
}

.footer {
  text-align: center;
  background-color: #262b2e;
  color: #d4d5d5;
  position: relative;
  margin-top: -95px;
  padding: 92px 0 150px 0;
}
@media (max-width: 850px) {
  .footer {
    padding: 90px 0 90px 0;
  }
}

.container--column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.footer__contact {
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 850px) {
  .footer__contact {
    max-width: 212.5px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__item {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 45px;
  height: 40px;
  margin: 0 4px 0 4px;
  padding: 11px 12.5px 9px 12.5px;
  background-color: #424648;
  color: #bbb8b9;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.footer__item:hover {
  border-radius: 5px;
  color: #070e0d;
}

.footer__item--pinterest {
  font-size: 22px;
  height: 40px;
  padding: 10px 14.5px 8px 14px;
}

.footer__item--pinterest:hover {
  color: white;
  background-color: #E60023;
}

.footer__twitter {
  width: 45.5px;
}

.footer__twitter:hover {
  color: white;
  background-color: #00acee;
}

.footer__facebook:hover {
  color: white;
  background-color: #4267B2;
}

.footer__dribble:hover {
  color: #902d86;
  background-color: #ea4c89;
}